/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Estilizando o indicador de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: #5670BF;
  }
  
  /* Estilizando a trilha da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }

/*partes do site*/

.container{ 
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(90deg, #8894d4, #91a1d1, #a7b4db);
    width: 100%;
    height: auto;
    float: left;
    margin: 0 auto;
   
}

.navbar {
    background-color: #2E468C;
    width: 100%;
    height: auto;
    float: left;
    
}

.content {
    background-color: #fdfdfd;
    width: 100%; 
    height: auto;
    float: left;
    margin: 0 auto;
    
}

.footer {
    background-color: rgba(13, 13, 13, 0.733);
    width: 100%;
    height: 50px;
    float: left;
    
}

/*Home*/

.linha-1{
    width: 100%;
    height: 400px;
    float: left; 
    background-color: #5670BF;
}

.col-1{
    width: 55%;
    height: auto;
    float: left;
}

.col-2{
    margin-top: 70px;
    width: 45%;
    height: auto;
    float: left;
}

.apresentacao{ /*texto de apresentação*/
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 20px;
    float: left;
    color: white;
    text-align: justify;
}

.linha-2{
    width: 100%;
    height: 300px;
    float: left;
    padding: 0px;
    background-color: #ffffff;
}

.icones-home1{
    margin-top: 20px;
    width: 20%;
    height: auto;
    float: left;
}

.icones-home2{
    margin-top: 20px;
    width: 20%;
    height: auto;
    float: left;
}

.icones-home3{
    margin-top: 20px;
    width: 20%;
    height: auto;
    float: left;
}

.icones-home4{
    margin-top: 20px;
    width: 20%;
    height: auto;
    float: left;
}

.icones-home5{
    margin-top: 20px;
    width: 20%;
    height: auto;
    float: left;
}

.nome-icone-home{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2E468C;
}

.linha-3{
    width: 100%;
    height: auto;
    float: left;
    background-color: #5670BF;
}

.col-empresa{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 33%;
    height: auto;
    float: left;
    background-image: linear-gradient(180deg, #5670BF, #3849A6, #2E468C);
}

.col-empresa34{ /*empresa 34 de widht, completa 100%*/
    padding-top: 100px;
    padding-bottom: 100px;
    width: 34%;
    height: auto;
    float: left;
    background-image: linear-gradient(180deg, #5670BF, #3849A6, #2E468C);
}

.linha-4{
    width: 100%;
    height: 200px;
    float: left;
    background-color: #2E468C;
}

.icones-redes-sociais{
    width: 33%;
    float: left;
}

/*serviços*/

/*listagem de serviços*/
.servico-1{
    width: 100%;
    height: 300px;
    float: left;
    background-color: #ffffff;
}

.servico-2{
    width: 100%;
    height: 300px;
    float: left;
    background-color: #5670BF;
}

.servico-3{
    width: 100%;
    height: 300px;
    float: left;
    background-color: #ffffff;
}

.servico-4{
    width: 100%;
    height: 300px;
    float: left;
    background-color: #5670BF;
}

.servico-5{
    width: 100%;
    height: 300px;
    float: left;
    background-color: #ffffff;
}

.col-servico{
    width: 300px;
    height: 300px;
    float: left;
    padding-right: 30px;
}

.botao-chamada-acao{
    margin-top: 10px;
    width: 100%;
    height: 175px;
    float: left;
    background-color: #5670BF;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #3849A6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #283459;
  }
  
  .button:hover {background-color: #2E468C}
  
  .button:active {
    background-color: #2E468C;
    box-shadow: 0 5px #283459;
    transform: translateY(4px);
  }

.pessoas{
    width: 100%;
    height: auto;
    float: left;
}

.titulo-depoimentos{
    width: 100%;
    height: 100px;
    float: left;
}

.pessoa-1{
    width: 100%;
    height: auto;
    float: left;
}

.pessoa-2{
    width: 100%;
    height: auto;
    float: left;
}

.pessoa-3{
    width: 100%;
    height: auto;
    float: left;
}

.pessoa-4{
    width: 100%;
    height: auto;
    float: left;
}

.pessoa-col{
    width: 300px;
    height: 400px;
    float: left;
}

/*equipe*/

.linha-equipe{
    width: 100%;
    height: auto;
    background-color: #a7b4db;
    float: left;
}

.equipe-pessoa1{
    width: 350px;
    height: auto;
    background-color: #a7b4db;
    float: left;
    padding: 50px;
}

.equipe-pessoa{
    width: 350px;
    height: auto;
    background-color: #a7b4db;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

/*contato*/ 

.col-contato{
    width: 25%;
    height: 150px;
    float: left;
}

/*responsividade*/

@media screen and (max-width: 800px) {
    .container, .header, .content, .footer, .linha-1, .col-1, .col-2, .apresentacao, 
    .linha-2, .icones-home1, .icones-home2, .icones-home3, .icones-home4, .icones-home5, 
    .nome-icone-home, .linha-3, .col-empresa, .col-empresa34, .linha-4, .servico-1, 
    .servico-2, .servico-3, .servico-4, .servico-5, .col-servico, .pessoa-1, .pessoa-2, 
    .pessoa-3, .pessoa-4, .pessoas, .pessoa-col, .botao-chamada-acao, .button, .linha-equipe, 
    .equipe-pessoa, .equipe-pessoa1, .col-contato {
        width: 100%; 
        height: auto;
    }

    /*home*/
    .col-2{
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .icones-home{
        float: left;
        width: 50%;
    }
    .apresentacao{
        width: 90%;
    }
    .linha-4{
        padding-bottom: 10px;
    }
    
    /*serviços*/
    .col-servico{
        text-align: center;
        background-color: #ffffff;
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
    }

    .texto-servico{
        padding: 10px;
        padding-right: 0px;
    }

    .pessoa-col{
        text-align: center;
    }

    .botao-chamada-acao{
        height: 175px;
        margin-left: 0px;
    }

    /*equipe*/
    .texto-equipe{
        padding: 10px;
    }

    /*contato*/
    .col-contato{
        width: 25%;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mapa{
        width: 100%;
    }
    .equipe-pessoa{
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    .equipe-pessoa1{
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
}
